/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
body{
    font-family: 'Lato', sans-serif;
}
header h1{
    font-weight:300 ;
}
.card .list-group span,
.card .list-group i,
.card h5 i{
    cursor: pointer;
}
.card .list-group span.done-completed{
    text-decoration: line-through;
    color: lightgray;
}
.card span{
    color: black;
}
.card .list-group li .x_mark-my{
    color: black;
}
.card .list-group li .x_mark-my:hover {
    color: #dc3545!important;
}
.card{
    max-height: 50vh;
    overflow: auto;
}