<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PHP ToDo List JSON</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>

<body class="text-bg-dark">
    <div id="app">
        <header class="my-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-6 text-center">
                        <h1>
                            PHP ToDo List JSON
                        </h1>
                    </div>
                </div>
            </div>
        </header>
        <main class="my-5">
            <div class="container">

                <div class="row justify-content-center pb-5">

                    <div class="col-6">
                        <form :action="createUrl" method="POST" @submit.prevent="postCreateApi()">
                            <div class="row row-cols-1 row-cols-md-2 justify-content-center">
                                <div class="col col-md-8 d-flex justify-content-start mb-2">
                                    <input id="inpu_text-one" 
                                        class="form-control" 
                                        type="text" 
                                        name="new_task"
                                        placeholder="Nuova Task" 
                                        required 
                                        minlength="3" 
                                        v-model="newTodoForm.textTodo">
                                </div>
                                <div class="col-6 col-md-4 d-flex justify-content-end mb-2">
                                    <button type="submit" class="btn btn-outline-success">Aggiungi</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-6">
                        <div class="card p-3">
                            <ul class="list-group list-group-flush" v-if="listTodoApi.length > 0">
                                <li class="list-group-item d-flex justify-content-between align-items-center"
                                    v-for="(item, index) in listTodoApi">
                                    <span :class="(item.done == true) ? 'done-completed' : '' "
                                        @click="item.done = !item.done">{{item.todo}}</span>
                                    <i class="fa-solid fa-xmark"></i>
                                </li>

                            </ul>
                            <h5 class="text-center lh-lg text-success" v-else>
                                Complimenti hai completato tutti i Task! <br>
                            </h5>

                        </div>

                    </div>
                </div>
            </div>

        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="./js/scripts.js"></script>
</body>

</html>